# VacationPy

In [46]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [47]:
city_data_df = pd.read_csv('../output_data/citydata.csv')
city_data_df.head()
len(city_data_df)

561

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [48]:
# Configure gmaps.
gmaps.configure(api_key=g_key)

# Extract latitude and longitude
lat = city_data_df["Lat"].fillna(0)
lng = city_data_df["Lng"].fillna(0)

# Concatinate latitude and longitude and add it to a list
coordinates = list(zip(lat,lng))

figure_layout = {
    'width': '800px',
    'height': '400px',
    'border': '1px solid black',
    'padding': '1px',
    'margin':'0 auto 0 auto'
    
}

fig = gmaps.figure(layout=figure_layout)

In [49]:
markers = gmaps.heatmap_layer(coordinates,weights = city_data_df['Humidity'])
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='400px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [60]:
# Narrow down records that match criteria:
    # Cloudiness = 0, Max Temp  > 20 but < 90 and Wind Speed <= 10
condition = city_data_df[(city_data_df['Cloudiness'] > 0) | ((city_data_df['Max Temp'] <= 20) | (city_data_df['Max Temp'] >= 90)) | (city_data_df['Wind Speed'] > 10)]
reduced_df = city_data_df.drop(condition.index, axis = 0, inplace= False)
reduced_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
2,Haverfordwest,0,GB,1584337043,80,51.80,-4.97,35.01,3.36
15,Rosetta,0,EG,1584336916,67,31.40,30.42,61.88,4.70
18,Shache,0,CN,1584337046,16,38.42,77.24,54.81,4.07
42,Borod,0,RO,1584337049,100,46.98,22.63,28.40,5.82
54,Guararapes,0,BR,1584337050,89,-21.26,-50.64,72.10,3.89
69,Boddam,0,GB,1584337052,84,57.47,-1.78,33.01,8.05
86,Alghero,0,IT,1584337054,87,40.56,8.32,46.40,5.82
89,Lebu,0,CL,1584337055,96,-37.62,-73.65,52.07,6.04
95,Mar del Plata,0,AR,1584337055,93,-38.00,-57.56,59.00,2.24
121,Lüderitz,0,NaN,1584337059,82,-26.65,15.16,60.80,6.93
145,Waddān,0,LY,1584336885,74,29.16,16.14,56.55,7.27
270,Lagoa,0,PT,1584337077,73,39.05,-27.98,60.66,8.99
275,Awjilah,0,LY,1584337077,24,29.11,21.29,67.77,6.46
281,Fare,0,PF,1584337078,73,-16.70,-151.02,83.08,9.62
305,Asău,0,RO,1584337083,73,46.43,26.40,23.00,2.30
325,Jaguariaíva,0,BR,1584337086,88,-24.25,-49.71,64.09,2.17
340,Assiut,0,EG,1584337088,53,27.18,31.18,67.42,3.85
390,Santiago,0,CL,1584336839,45,-33.46,-70.65,64.40,5.82
401,Constitución,0,CL,1584337095,57,-35.33,-72.42,55.42,3.67
417,Traralgon,0,AU,1584337097,56,-38.18,146.53,75.00,5.99
422,Prundu,0,RO,1584337097,54,44.09,26.23,28.40,1.12
426,Betlitsa,0,RU,1584337098,62,54.01,33.96,29.32,6.89
437,Karibib,0,NaN,1584337099,42,-21.93,15.83,73.69,4.32
444,Bahía Honda,0,CU,1584337100,84,22.90,-83.16,70.92,9.28
464,Necochea,0,AR,1584336842,96,-38.55,-58.74,45.00,1.99
484,Reguengos de Monsaraz,0,PT,1584337105,93,38.43,-7.53,42.01,8.05
526,Linkenheim-Hochstetten,0,DE,1584337110,80,49.13,8.41,43.00,4.70
539,Sfântu Gheorghe,0,RO,1584337111,57,45.87,25.78,28.99,5.99
546,Les Cayes,0,HT,1584337112,73,18.20,-73.75,78.37,8.01
550,San Luis,0,AR,1584336879,73,-33.30,-66.34,63.27,7.94

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'narrowed_city_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display Map